.toggle-switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(77, 74, 74);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #121212;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(77, 74, 74);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color:white; 
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body.light-mode {
  background-color: #ffffff;
  color: #121212;
}

body.light-mode .nav-box {
  position: fixed;
  top: 0;
  left: 0;       
  width: 100%;   
  background-color: white;
  border-radius: 0; 
  padding: 1rem 2rem;
  margin: 0; 
  box-shadow: 0 0.25rem 0.25rem rgb(122, 122, 122);
  z-index: 1000;
}

body.light-mode .top-nav h1 {
  margin: 0; 
  color: #121212; 
  font-size: 1.5rem;
}

body.light-mode .top-nav a {
  text-decoration: none;
  color: #121212;
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer;
  font-size: 1rem;
}

body.light-mode #home > img:first-child {
  width: 350px;
  height: 350px;
  border-radius: 20%;
  object-fit: cover;
  border: 3px solid #ffcc00;
  box-shadow: 0 0 15px rgba(255, 204, 0, 0.5);
  animation: fadeIn 1.5s ease-in-out;
  object-position: top;
}

body.light-mode #about h2, body.light-mode #portfolio h2, body.light-mode #resume h2, body.light-mode #gallery h2, body.light-mode #contact h2, body.light-mode #achievements h2, body.light-mode .school-address {
  color:#121212;
}

body.light-mode .landing-wrapper {
  background-color: white;
}

body.light-mode .landing-container h1 {
  color: #ffcc00;
}

body.light-mode .landing-container h2 {
  color: #ce8f13;
}

body.light-mode .landing-container p, body.light-mode .about-item h3, body.light-mode .skill h4, body.light-mode .skill-title, body.light-mode .about-section h3{
  color: #121212;
}

body.light-mode .card p, body.light-mode .card h3 {
  color: white;
} 

body.light-mode .card {
  background-color: rgb(83, 80, 80);
  padding: 1rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.25rem 0.6rem rgba(0,0,0,0.5);
  transition: transform 0.3s;
}

body.light-mode .top-nav a.active {
  color: #ffcc00; 
}

